#chat-row {
  height: 60vh;
  border: 1px;
  border-style: solid;
  border-color: black;
}

#column {
  border: 1px;
  border-style: solid;
  border-color: black;
}

#timer {
  border: 1px;
  border-style: solid;
  border-color: black;
  float: right;
  position: relative;
  left: -50%; /* or right 50% */
  text-align: left;
}