html {
  background: #1A0F3C;
  color: white;
  height: 100%;
}

body {
  height: 100%;
  background: rgba(26, 15, 60, 1) !important;
}

#game{
  display: flex;
  flex-direction: column;
}

.set-height {
  height: 100%;
}

#header {
  background: rgba(255,255,255,.12);
  color: white;
  height: 85px;
  margin-bottom:12px;
  margin-top: 12px;
  margin-left: 1px;
  margin-right: 1px;
  border-radius: 12px;
}

#chat-row {
  flex:1;
  border: 0px;
  border-style: solid;
  position: relative;
}

#playerFrame-col-2{
  display: flex;
  flex-direction: column;
}

#playerFrame-top-row{
  height:170px;
}

#playerFrame-timer{
  flex:1;
  border: 1px solid white;
  border-radius: 12px;
}

#playerFrame-bottom-row{
  height:170px;
}

#bottom-row{
  height:335px;
}

.column {
  color: white;
  border-radius: 12px;
}

.whiteCard{
  background: rgba(255,255,255,.12);
  margin:12px;
  padding:12px;
}

.no-margin{
  margin-left:0px;
  margin-right:0px;
}

#row-2 {
  height: 60%;
}

#row-3 {
  height: 35%;
}

.chat-message {
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 23px;
  padding-left: 0px;
  margin: auto;
  width: 25%;
}

.wolf-chat-message {
  position: absolute;
  display: flex;
  bottom: 0;
  padding: 23px;
  padding-left: 0px;
  margin: auto;
  width: 32%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0px;
  grid-auto-rows: 140px;
  grid-template-areas:
    " . . . ."
    ". a a ."
    ". a a ."
    ". . . .";
}
.item1 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}

.item2 {
  align-self: center;
  justify-self: center;
}

.fade-in {
  transition: opacity 1s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1s ease;
}